/*  Tag Selectors*/

h1 {
    color: red;
    font-size: 100px;
    margin: 0;
}

img {
    background-color: red;
}

img:hover {
    background-color: yellow;
}


/*  Class Selectors*/

.bacon {
    background-color: green;
}

.bacon:hover {
    background-color: pink;
}

.broccoli {
    background-color: purple;
}

.circular {
    border-radius: 100%;
}


/*  Id Selectors*/

#heading {
    color: red;
    margin-bottom: 10px;
}

#headingAlt {
    color: green;
}