body {
    background-color: #7221f5;
    color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20;
}

h1 {
    color: cyan;
}

img {
    height: 250;
    width: 250;
    border-radius: 50px;
}